<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    
</head>
<body>
    @Html.Partial("_menu")

    <div class="container container-body">
        @RenderBody()
    </div>

    <footer class="footer bg-info">
        <div class="container">
            <span>&copy;Fansoft @DateTime.Now.Year.</span>
        </div>
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

    @RenderSection("scripts", required: false)
    @{
        var linkMenu = $"{ViewContext.RouteData.Values["Controller"].ToString().ToLower()}-" +
                $"{ViewContext.RouteData.Values["Action"].ToString().ToLower()}";
    }
    <script>
        $("#@linkMenu").parent("li").addClass("active");
    </script>
</body>
</html>